html {
  font-size:22px
}

body {
    background-color: rgb(100, 96, 96);
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-style: normal;
}

a {
    color: rgb(0, 0, 0);
}
a:visited {
    color:rgba(0, 0, 0, 0.644);
}

a:hover, a:active {
    color:white;
}

tr, th, td, caption {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: cursive;
    padding: 0.5rem;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button001 {background-color: #4CAF50;}
  .button002 {background-color: #ff3550;}

  .button003 {
    background-color: #c635ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
